language: node_js

node_js:
  - "4.2"
  
addons:
  apt:
    sources:
    - ubuntu-toolchain-r-test
    packages:
    - g++-4.9
    - gcc-4.9
    
env:
  - NODE_ENV=test
  
before_install:
  - sudo update-alternatives --install /usr/bin/gcc gcc /usr/bin/gcc-4.9 20
  - sudo update-alternatives --install /usr/bin/g++ g++ /usr/bin/g++-4.9 20
  - gcc --version
  - g++ --version
  
before_script:
  - node index.js &
  - node mock.js &

deploy:
  provider: releases
  api_key: $CI_USER_TOKEN
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
